{% extends 'layout.html'%}


{% block body %}
<div class="jumbotron">
  <h1 class="display-4">BioHack 2018!</h1>
  <p class="lead">This year, a collaboration with the Society of Women Engineers and Biomedical Engineering Society introduces BioHack, the very first student-run 12 hour health/medicine-themed hackathon at the University of California, Riverside. Throughout this 12-hour hackathon, students will form teams to work on projects, attend technical workshops, speak to mentors, learn about new technologies, and network with industries..</p>
  <hr class="my-4">
  <p>Unlike other hackathons, bioengineering related projects is the central aspect of this event. BioHack focuses on an event where students can create medically innovative projects and technologies with the freedom of their creativity. Unlike other hackathons, we promote bioengineering related projects as the central aspect of the event. Our mission is to foster connections among students and sponsors throughout computer science and bioengineering.</p>
  <a target="_blank" class="btn btn-primary btn-lg" href="https://biohackucr.com/" role="button">Learn more</a>
</div>
{% endblock %}




